.body{
    background-color: #a0ce4e;
   
}
.header {
  background-color: #7bb902;
  height: 8%;
  border-bottom: 2vh solid white;
}
hr {
    height: 10px;
    background-color: white;
    border-style: none;
  }

footer{
    background-color: #7bb902;
    height:51px;
    display: flex;
    justify-content: space-around;
}
svg{
    fill:white;
}
svg:hover{
    fill:black;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
}

html, body {
  height: 100%;
}
.white{
  background-color: white;
    display:flex;
    justify-content: center;
}

.calendari{
  display: flex;
  justify-content: center;
}