<h2 class="centre">Assignar Múltiples Guàrdies</h2>
<section class="encapsulamentFormularis">
    <form [formGroup]="this.assignarMultipleGuardiaDataForm">
        <section class="left">
            <div class="input-container">
                <label><b>Data:</b></label>
                <input class="borderVerd" type="date" formControlName="dataGuardia" (change)="getDataEntrada()">
            </div>
        </section>
    </form>
    <form [formGroup]="this.assignarMultipleGuardiaForm" *ngFor="let guardia of guardies" id="formulari_{{guardia.id}}">
        <section class="left" *ngIf="ocult === false">
            <table>
                <thead>
                    <th>Categoria</th>
                    <th>Unitat</th>
                    <th>Torn</th>
                    <th>Número Places</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="input-container">
                                <input type="text" [value]="guardia.categoria" readonly>
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <input type="text" [value]="guardia.unitat" readonly>
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <input type="text" [value]="guardia.torn" readonly>
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <input type="number" [value]="guardia.numeroPlaces" readonly>
                            </div>
                        </td>
                    </tr>
                    <tr *ngFor="let treballador of getTreballadorsFromGuardiaAdmin(guardia.id)">
                        <td></td>
                        <td>
                            <div class="input-container">
                                <input type="text" [value]="treballador.nomTreballador" readonly>
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <select formControlName="estatGuardia" class="borderVerd"
                                    (change)="canviarEstatGuardiaTreballador(treballador.idTreballador, guardia.id)">
                                    <option [selected]="treballador.estatTreballador == 'PENDENT'">PENDENT</option>
                                    <option [selected]="treballador.estatTreballador == 'ASSIGNADA'">ASSIGNADA</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="innerId == guardia.id">
                        <td></td>
                        <td>
                            <div class="input-container">
                                <select class="borderVerd">
                                    <option selected disabled></option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <select class="borderVerd">
                                    <option selected disabled></option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2">
                            <div class="button-container">
                                <button class="afegirTreballador" type="button" (click)="tt(guardia.id)">Afegir
                                    Treballador</button>
                            </div>
                        </td>
                    </tr>
                    <span id="msg" *ngIf="guardarId == guardia.id">
                        {{valid ? valid : error}}
                    </span>
                </tbody>
            </table>
        </section>
    </form>
</section>