footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #7bb902;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2vh solid white;
}

svg {
    fill: white;
}

svg:hover {
    fill: #616161;
}

.active{
    fill: #616161;
}