<!--<div class="body" >
  <div class="wrapper">
    <main>
      <section>
        <div class="face">
          <div class="bm_container" id="icon-container-female_nurse"></div>
          <img src="assets/loginImage.png">
         
        </div>
        <div class="">
          <div class="email-login">

            <form (ngSubmit)="onSubmit()" #usuariForm="ngForm">
              <mat-form-field>
              <div class="form-group">
               
                  <input matInput id="dni" class="form-control" type="text" [(ngModel)]="treballador.dni" type="text" autocomplete="on" name="dni" required>
              </div>
            </mat-form-field>
          
          <mat-form-field>
            
            <input matInput placeholder="Password" class="form-control form-group" [type]="hide ? 'password' : 'text'"[(ngModel)]="treballador.password" name="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
           
          </mat-form-field>
         


              <button [disabled]="!usuariForm.form.valid" type="submit" class="btn btn-green">Iniciar sessió</button>
            </form >
          </div>
        </div>


      </section>
    
    </main>

  </div>
</div>
-->

<div class="body">
  <div class="login-box">
    <img src="assets/loginImage.png">
    <hr>
    <br>
    <h2>Hospital d'Olot</h2>
    <p>Entra les teves credencials</p>

    <form (ngSubmit)="onSubmit()" #usuariForm="ngForm">
      <div class="form-group">
        <label for="email">DNI</label>
        <i class="fa-solid fa-address-card"></i>
        <input type="text" [(ngModel)]="treballador.dni" name="dni" autocomplete="on"  placeholder="DNI" required>
      </div>
      <div class="form-group">
        <label for="password">Contrasenya</label>
        <i class="fa-solid fa-lock"></i>
        <input type="password" id="password" placeholder="La teva contrasenya" [type]="hide ? 'password' : 'text'" [(ngModel)]="treballador.password" name="password" required>
        <mat-icon id="ull" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </div>

      <div class="centre">
        <button [disabled]="!usuariForm.form.valid" type="submit" class="btn">Iniciar sessió</button>
      </div>
      <div *ngIf="error">
        <p id="error">{{ error ? error : null }}</p>
      </div>
    </form>
  </div>
</div>