<div class="body" >
  <div class="wrapper">
    <main>
      <section>
        <div class="face">
          <div class="bm_container" id="icon-container-female_nurse"></div>
          <img src="assets/loginImage.png">
         
        </div>
        <div class="">
          <div class="email-login">

            <form (ngSubmit)="onSubmit()" #usuariForm="ngForm">
              <mat-form-field>
              <div class="form-group">
               
                  <input matInput id="dni" class="form-control" type="text" [(ngModel)]="treballador.dni" type="text" autocomplete="on" name="dni" required>
              </div>
            </mat-form-field>
          
          <mat-form-field>
            
            <input matInput placeholder="Password" class="form-control form-group" [type]="hide ? 'password' : 'text'"[(ngModel)]="treballador.password" name="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
           
          </mat-form-field>
         


              <button [disabled]="!usuariForm.form.valid" type="submit" class="btn btn-green">Iniciar sessió</button>
            </form >
          </div>
        </div>


      </section>
    
    </main>

  </div>
</div>