<div>
  <div class="wrapper">
    <main>
      <section>
        <div class="face">
          <div class="bm_container" id="icon-container-female_nurse"></div>
          <!-- <img src="assets/loginImage.png"> -->
          <h1>IMATGE HOSPIOLOT</h1>
        </div>
        <div class="">
          <div class="email-login">

            <form (ngSubmit)="onSubmit()" #usuariForm="ngForm">
              <mat-form-field>
              <div class="form-group">
                <label for="dni" class="form-label">Dni</label>
                  <input id="dni" class="form-control" type="text" [(ngModel)]="treballador.dni" type="text" autocomplete="on" name="dni" required>
              </div>
            </mat-form-field>
          <mat-form-field>
              <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input matInput="" type="password" atInput [type]="showPassword ? 'text' : 'password'" id="password" class="form-control" type="password" [(ngModel)]="treballador.password" name="password" required>
                <mat-icon matSuffix (click)="togglePasswordVisibility()"class="mdi-icon" >{{showPassword?'visibility_off':'visibility'}}</mat-icon>
              </div>
            </mat-form-field>
              {{treballador.dni}}
              


              <button [disabled]="!usuariForm.form.valid" type="submit" class="btn btn-green">Iniciar sessió</button>
            </form >
          </div>
        </div>


      </section>
      <div class="vector-1">
      </div>

      <div class="vector-2">
      </div>

      <div class="vector-3"></div>

    </main>

  </div>
</div>