* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.centre {
    text-align: center;
    padding-top: 20px;
}

::selection {
    color: white;
    background: #a5d051;
}

form {
    display: flex;
    justify-content: center;
    text-align: center;

    section {
        padding: 10px;
        background: white;
        border-radius: 15px;
        max-height: 52vh;

        ::-webkit-scrollbar {
            display: none;
        }

        .input-container {
            label {
                display: block;
                margin-bottom: 4px;
                color: black;
                font-size: 16px;
                font-weight: bold;
                font-family: 'Quicksand', sans-serif;
            }

            input,
            textarea,
            select {
                padding: 5px 10px;
                height: 40px;
                border-radius: 10px;
                border: 4px solid #a5d051;
                font-family: 'Quicksand', sans-serif;
                font-size: 16px;
                color: black;
                font-weight: bold;

                &:focus {
                    outline: none;
                    background: white;
                }
            }

            textarea {
                height: 122px;
                padding: 15px 10px;
                resize: none;
            }

            padding:10px;
        }
    }

    .button-container {
        width: 100%;
        text-align: center;

        .editar {
            background: #a5d051;
            border: 4px solid #7bb902;
            color: white;
            padding: 5px 20px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            font-weight: bold;
            margin-right: 10px;

            &:hover {
                background: #7bb902;
            }
        }
        .eliminar {
            background: #d05151;
            border: 4px solid #b90202;
            color: white;
            padding: 5px 20px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            font-weight: bold;

            &:hover {
                background: #b90202;
            }
        }
        .afegir {
            background: #5197d0;
            border: 4px solid #0270b9;
            color: white;
            padding: 5px 20px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            font-weight: bold;

            &:hover {
                background: #0270b9;
            }
        }
    }

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    .crearEsquema {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    @media(max-width:992px) {
        padding: 0 1.5%;
        
    }

    @media(max-width:768px) {
        margin-bottom: 50px;

        section {
            //width: 100%;
            margin: 0;
            max-height: 55vh;
            overflow-y: scroll;

            &.left {
                margin-bottom: -30px;
            }
        }

        .send-container {
            margin-right: 0;
            padding: 10px;

            input {
                width: 100%;
            }
        }
        //.crearEsquema {
        //}
    }
}

#places {
    width: 80px;
}

#msg {
    background-color: #a5d051;
    border: 4px solid #7bb902;
    font-weight: bold;
    padding: 4px;
    white-space: nowrap;
}

.encapsulamentFormularis {
    padding: 10px;
    background: white;
    border-radius: 15px;
    max-height: 52vh;

    ::-webkit-scrollbar {
        display: none;
    }
}
@media only screen and (max-width: 890px) {
    .crearEsquema {
        display: flex;
    
        flex-direction: column;
    }
}