<h2 class="centre">Modificar Esquema</h2>
<section class="encapsulamentFormularis">
    <form id="formulariSelect">
        <section class="left">
            <div class="input-container">
                <label><b>Crear Esquema:</b></label>
                <div class="crearEsquema">
                    <input type="text" name="nomEsquema">
                    <div class="button-container">
                        <button class="afegir" type="button" (click)="afegirEsquema()">Afegir</button>
                    </div>
                </div>
                <span id="msg" *ngIf="validCrear || errorCrear">
                    {{validCrear ? validCrear : errorCrear}}
                </span>
            </div>
            <div class="input-container" *ngIf="esquemes.length != 0">
                <label><b>Els meus Esquemes:</b></label>
                <select name="esquema" (change)="obtenirEsquemaSelect()">
                    <option selected></option>
                    <option *ngFor="let esquema of esquemes">{{esquema.nomEsquema}}</option>
                </select>
            </div>
        </section>
    </form>
    <form *ngFor="let guardia of guardiesEsquema" id="formulari_{{guardia.id}}">
        <section class="left">
            <table>
                <thead>
                    <th>Categoria</th>
                    <th>Unitat</th>
                    <th>Torn</th>
                    <th>Número Places</th>
                    <th>Estat</th>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            <div class="input-container">
                                <select name="categoria">
                                    <option *ngFor="let categoria of categories"
                                        [selected]="guardia.categoria == categoria.nom">{{categoria.nom}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <select name="unitat">
                                    <option *ngFor="let unitat of unitats" [selected]="guardia.unitat == unitat.nom">
                                        {{unitat.nom}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <select name="torn">
                                    <option *ngFor="let torn of torns" [selected]="guardia.torn == torn.nom">
                                        {{torn.nom}}
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <input type="number" id="places" name="numeroPlaces" min="0"
                                    value="{{guardia.numeroPlaces}}">
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <select name="estat">
                                    <option [selected]="guardia.estat == 'ACTIU'">ACTIU</option>
                                    <option [selected]="guardia.estat == 'INACTIU'">INACTIU</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="button-container">
                                <button class="editar" type="button" (click)="modificarEsquema(guardia.id)"
                                    value="{{guardia.id}}">Editar</button>
                            </div>
                        </td>
                        <td>
                            <div class="button-container">
                                <button class="eliminar" type="button" (click)="eliminarEsquema(guardia.id)"
                                    value="{{guardia.id}}">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <span id="msg" *ngIf="guardarId == guardia.id">
                    {{valid ? valid : error}}
                </span>
            </table>
        </section>
    </form>

    <form id="formulariAfegir" *ngIf="guardiesEsquema.length != 0">
        <section class="left">
            <table>
                <thead>
                    <th>Categoria</th>
                    <th>Unitat</th>
                    <th>Torn</th>
                    <th>Número Places</th>
                    <th>Estat</th>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            <div class="input-container">
                                <select name="categoria">
                                    <option selected></option>
                                    <option *ngFor="let categoria of categories">{{categoria.nom}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <select name="unitat">
                                    <option selected></option>
                                    <option *ngFor="let unitat of unitats">{{unitat.nom}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <select name="torn">
                                    <option selected></option>
                                    <option *ngFor="let torn of torns">{{torn.nom}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <input type="number" id="places" name="numeroPlaces" min="0" value="0">
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <select name="estat">
                                    <option selected></option>
                                    <option>ACTIU</option>
                                    <option>INACTIU</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="button-container">
                                <button class="afegir" type="button" (click)="afegirRowEsquema()">Afegir</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <span id="msg" *ngIf="validAfegir || errorAfegir">
                    {{validAfegir ? validAfegir : errorAfegir}}
                </span>
            </table>
        </section>
    </form>
</section>