<h2 class="centre">Assignar Guàrdia</h2>
<form [formGroup]="this.assignarGuardiaForm">
    <section class="left">
        <div class="input-container">
            <label><b>Treballador:</b></label>
            <select formControlName="idTreballador">
                <option selected></option>
                <option *ngFor="let treballador of treballadors" value="{{ treballador.id }}">{{ treballador.nom
                    }}
                </option>
            </select>
        </div>
        <div class="input-container">
            <label><b>Data:</b></label>
            <input type="date" formControlName="dataGuardia" (change)="getDataEntrada()">
        </div>
        <div *ngIf="ocult === false">
            <div class="input-container">
                <label><b>Guàrdia:</b></label>
                <select formControlName="idGuardia">
                    <option *ngFor="let guardia of guardies" value="{{ guardia.id }}">{{ guardia.categoria }} ➤
                        {{
                        guardia.unitat }} ➤ {{ guardia.torn }}</option>
                </select>
            </div>
            <div class="input-container">
                <label><b>Estat:</b></label>
                <select formControlName="estat">
                    <option selected></option>
                    <option>ASSIGNADA</option>
                    <option>PENDENT</option>
                    <option>CANCELADA</option>
                </select>
            </div>

        </div>
        <div class="send-container">
            <button type="button" [disabled]="!this.assignarGuardiaForm.valid" (click)="assignarGuardia()"
                >Assignar</button>
        </div>
    </section>
</form>