.logo {
    display: none;
}

.infoHeader {
    display: flex;
    justify-content: space-around;
    width: 100%;
    //float: right;
}

label {
    color:white;
    font-weight: bold;
    font-size: 18px;
    padding-right: 12px;
}

.header {
    border-bottom: 2vh solid white;
    z-index: 99999;
    position: sticky;
    left: 0;
    top: 0;
    background-color: #7bb902;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0px;
}

svg {
    fill: white;
}

svg:hover {
    fill: #616161;
}

.active{
    fill: #616161;
}
@media(max-width:700px) {
    .infoHeader {
        display: none;
    }

    .logo {
        display: flex;
    }
}