<div class="body">
    <app-header></app-header>
    <div class="cos">
        <h1 class="titol">CALENDARI</h1>
        <div class="calendariDiv">
        <mat-card class="calendariCard">
            <mat-calendar [(selected)]="selected" (selectedChange)=initialize() (monthSelected)="this.getAllGuardies()"></mat-calendar>
        <div class="mat-calendar-content llegendaCalendar"> <span><span class="assignada-date-circle">⬤</span>Assignades</span>  <span><span class="pendent-date-circle">⬤</span>Pendents</span></div>
        </mat-card>

        <app-reservar (getAllGuardies)="getAllGuardies()" [dia]="selected"></app-reservar>
    </div>
    </div>

    <app-navbar></app-navbar>
</div>