* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: #a0ce4e;
  height: 100vh;
}

.cosCalendar {
  height: 78%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titol {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 26px;
  margin: 2%;
}

h1,
h2 {
  margin: 0;
}

.fons {
  margin: 2%;
  border-radius: 15px;
  background-color: white;
  max-height: 70vh;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 20px;
}

.centre {
  text-align: center;
}

.calendariCard {
  width: 100%;
  max-width: 500px;
}

.special-date {
  background-color: red !important;
}

.grey-date {
  background-color: grey !important;
}

.pendent-date{
  background-color: orange !important;
}

svg {
  fill: white;
}

svg:hover {
  fill: black;
}

app-reservar {
  width: 100%;
}