<div class="header">
    <div class="boto_enrera">
        <a href="#menu"><img src="assets/imatges/boto_enrera.png" width="40vw" height="auto"></a>
    </div>
    <div class="logo">
        <img src="assets/imatges/logo.png" id="logo" width="120vw" height="auto">
    </div>
</div>
<div class="cos">
    <div class="mes">
        <h1>GENER</h1>
    </div>
    <div class="dia">
        <h3>DISSABTE<br>07/01/2023</h3>
    </div>
    <div class="dades">
        <div class="dropdown">
            <p>Torn: <button class="dropbtn">Dropdown</button></p>
            <div class="dropdown-content">
            <a href="#">Matí</a>
            <a href="#">Tarda</a>
            <a href="#">Nit</a>
            </div>
        </div>
        <div class="dropdown">
            <p>Unitat: <button class="dropbtn">Dropdown</button></p>
            <div class="dropdown-content">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            </div>
        </div>
    </div>    
</div>