* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: #a0ce4e;
    height: 100vh;
}

.header {
    background-color: #7bb902;
    height: 8%;
}

hr {
    height: 2%;
    background-color: white;
    border-style: none;
}

.cos {
    height: 78%;
}

footer {
    background-color: #7bb902;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

svg {
    fill: white;
}

svg:hover {
    fill: black;
}

.titol {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 26px;
    margin: 2%;
}

h1,
h2 {
    margin: 0;
}

.fons {
    margin: 2%;
    border-radius: 15px;
    background-color: white;
    max-height: 70vh;
    overflow-y: scroll;
}

.categoria {
    text-transform: uppercase;
}

.dades {
    display: grid;
    justify-content: space-around;
    text-align: center;
    grid-template-columns: 30% 28% 28%;

}

.estat,
.torn,
.unitat,
.diaCat {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.pendent {
    display: flex;
    justify-content: center;
    background-color: rgb(253, 227, 99);
    border: rgb(250, 213, 30) solid;
    border-radius: 15px;
    width: 100%;
    height: 30px;
    padding-top: 5px;
}

.assignada {
    display: flex;
    justify-content: center;
    background-color: rgba(106, 220, 91, 0.718);
    border: rgba(87, 218, 69, 0.718) solid;
    border-radius: 15px;
    width: 100%;
    height: 30px;
    padding-top: 5px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

.estat h2 {
    display: inline-block;
    text-transform: lowercase;
}

.estat h2:first-letter {
    text-transform: uppercase;
}

.torn h2 {
    display: inline-block;
    text-transform: lowercase;
}

.torn h2:first-letter {
    text-transform: uppercase;
}

.unitat h2 {
    display: inline-block;
    text-transform: lowercase;
}

.unitat h2:first-letter {
    text-transform: uppercase;
}

.dia {
    display: flex;
    justify-content: center;
    background-color: rgb(250, 250, 136);
    border: yellow solid;
    border-radius: 15px;
    width: 100%;
    height: 30px;
    padding-top: 5px;}

.nit {
    display: flex;
    justify-content: center;
    background-color: rgb(160, 142, 235);
    border: rgb(142, 120, 229) solid;
    border-radius: 15px;
    width: 100%;
    height: 30px;
    padding-top: 5px;
}

.ucies {
    display: flex;
    justify-content: center;
    background-color: rgb(232, 124, 124);
    border: rgb(233, 93, 93) solid;
    border-radius: 15px;
    width: 98%;
    height: 30px;
    padding-top: 5px;

}

.unitat1 {
    display: flex;
    justify-content: center;
    background-color: rgb(168, 200, 254);
    border: rgb(149, 188, 255) solid;
    border-radius: 15px;
    width: 98%;
    height: 30px;
    padding-top: 5px;}

.unitat2 {
    display: flex;
    justify-content: center;
    background-color: rgb(125, 171, 251);
    border: rgb(97, 154, 251) solid;
    border-radius: 15px;
    width: 98%;
    height: 30px;
    padding-top: 5px;}

.unitat3 {
    display: flex;
    justify-content: center;
    background-color: rgb(63, 132, 251);
    border: rgb(36, 115, 251) solid;
    border-radius: 15px;
    width: 98%;
    height: 30px;
    padding-top: 5px;}

.unitat4 {
    display: flex;
    justify-content: center;
    background-color: rgb(24, 107, 250);
    border: rgb(0, 94, 255) solid;
    border-radius: 15px;
    width: 98%;
    height: 30px;
    padding-top: 5px;}

h1 {
    font-size: 20px;
}

.diaCat {
    padding: 0;
    margin: 0;
}

.separador {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 40%;
    width: 96%;
    margin: 2%;
    border-radius: 15px;
    background-color: grey;
    margin-bottom: 4%;
}