* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.mat-app-background{
    background-color: #a0ce4e;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #1fa25a;
}

a{
    cursor: pointer;
}

.special-date {
    background-color: red !important;
}

.grey-date {
    background-color: grey !important;
}

.pendent-date {
    background-color: orange !important;
}

.mat-calendar-body-disabled{
    background-color: lightgrey !important;
}
.pendent-date-circle {
    color: orange !important;
}

.pendent-date.assignada-date{
    background: linear-gradient(90deg, orange 50%, #1fa25a 50%);
}

.assignada-date {
    background-color: #a0ce4e !important;
}
.assignada-date-circle {
    color: #a0ce4e !important;
}