<div class="body">
    <app-navbar></app-navbar>
    <div class="header">

    </div>
    <div class="cos">
        <h1 class="titol">ADMINISTRACIÓ</h1>
        <div class="fons">
            <mat-tab-group>
                <mat-tab label="Assignar Guàrdia"><app-admin-assignar-guardia></app-admin-assignar-guardia></mat-tab>
                <mat-tab label="Crear Guàrdia"><app-admin-crear-guardia></app-admin-crear-guardia></mat-tab>
                <mat-tab label="Estat Guàrdia"><app-admin-estat-guardia></app-admin-estat-guardia></mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <app-navbar></app-navbar>
</div>